.body-favs {
  background-image: url("data:image/bmp;base64,Qk32BAAAAAAAADYAAAAoAAAACAAAAAgAAAABABgAAAAAAMAAAAATCwAAEwsAAAAAAAAAAAAAiCywhiWbfBRjZhQsRShWKTV9OzN+WCddiyqYhiKHdw9XXRApOSZKIzJqOzBqVSJOjSZ4hh5qcQdHUAgnKSI8IC5UQCxTWBs8iiFeghhTawA5RwAqIBw9KSlOTCZLZBQ3ghphexFVZgA4RgAyKRVPOSNiXCBfdg9IdhN4cgpoZABCTQA7OQ1kSBx+axt7iA5eag2NaQJ6ZABMVQBBRQZzUhaTdhiQlA9vZQuVZgCBZABQWABESQF4VRSaehaXmRB0");
  background-size: cover;
  min-height: 100vh;
}

.have-favs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}

.no-favs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}
