.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;

  height: 400px;
  width: 600px;
  border-radius: 15px;
  background-color: azure;
  box-shadow: 2px 1px 64px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 1px 64px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 1px 64px 0px rgba(255, 255, 255, 0.75);
}

.login-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 700px) {
  .login-page {
    gap: 5px;

    height: 350px;
    width: 550px;
  }
}

@media (max-width: 630px) {
  .login-page {
    gap: 5px;

    height: 280px;
    width: 480px;
  }
}

@media (max-width: 530px) {
  .login-page {
    gap: 20px;

    height: 400px;
    width: 400px;
  }
}

@media (max-width: 460px) {
  .login-page {
    gap: 20px;

    height: 350px;
    width: 330px;
  }
}
